* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Nunito Sans", sans-serif;
	box-sizing: border-box;
	overflow-x: hidden;
	background-color: #222;
	height: 100vh;
}

.container {
	margin-left: 10rem;
	margin-right: 10rem;
}

/* nav-section */
.nav-section .navbar {
	background-color: #181818;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: auto;
	z-index: 1;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.nav-section .navbar img {
	margin-bottom: 180px;
}

.nav-section ul li a {
	color: #909096;
}

.nav-section ul li a:hover {
	color: aqua;
	transition: 0.3s ease-in-out;
}

.nav-section ul.primary-nav {
	margin: 0;
	padding: 0;
	margin-bottom: 160px;
	width: auto;
	text-align: center;
	display: block;
	font-size: 13px;
	line-height: 3rem;
	border-top: #2b2a2a 1px solid;
}

a.active,
a {
	text-decoration: none;
}

li {
	border-bottom: 1px solid #2b2a2a;
}

ol,
ul {
	padding: 0;
	list-style: none;
}

li.social {
	border: 0;
	display: inline-block;
	align-items: center;
	justify-content: center;
	margin-left: 13px;
	margin-right: 5px;
}

li.social i {
	font-size: 13px;
}

li.nav-item {
	border-bottom: 0;
}

.navbar-nav {
	margin-bottom: 10px;
}

a.nav-link {
	margin: 0;
	border: none;
	float: right;
}

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
	position: fixed;
	width: 100%;
	z-index: 999;
}

/* Main nav */
@media only screen and (max-width: 989px) {
	.nav-section {
		display: none;
	}
}
/* Sub nav */
@media only screen and (min-width: 989px) {
	.navbar.navbar-expand-lg.navbar-dark {
		background-color: #181818;
		display: none;
	}
}

/* about-section */
section#about-section.about-section {
	background-color: #1d1d1d;
	height: 100vh;
	width: auto;
	overflow: hidden;
}

h1 {
	font-size: 5.5rem;
	color: #ffffff;
	font-weight: 900;
	line-height: 5rem;
}

.ha {
	margin-top: 3em;
}

.about-section .container .text {
	color: aqua;
}

/* About Section Button */
a.btn1 {
	position: absolute;
	color: aqua;
	letter-spacing: 3px;
	padding: 12px 35px;
	border: 1px solid aqua;
	top: 40rem;
	left: 11em;
	overflow: hidden;
	z-index: 1;
}

a.btn1:hover {
	color: #2b2a2a;
	border: 1px solid #fff;
}

a.btn1::before {
	content: "";
	position: absolute;
	background: aqua;
	width: 20em;
	height: 100px;
	top: 0.1px;
	left: 0.1px;
	border-right: 40px solid #2b2a2a;
	border-top: 50px solid aqua;
	transform: translateX(-100%);
	transition: 0.3s ease-in-out;
	z-index: -1;
}

a.btn1:hover::before {
	transform: translateX(0);
}

@media only screen and (min-width: 989px) {
	.about-section::before {
		content: "about";
		position: absolute;
		color: #d1d1d120;
		font-size: 43rem;
		font-weight: bolder;
		background: #07616d69;
		background-image: url(../images/cursor.svg);
		background-repeat: no-repeat;
		width: 10%;
		height: 15rem;
		left: 50rem;
	}
	.about-section::after {
		content: "@b-vhiewz";
		position: absolute;
		color: #0e3849b2;
		font-size: 40px;
		font-weight: bolder;
		background-repeat: repeat-x;
		width: 50%;
		height: 20em;
		left: 25em;
		top: 280px;
	}
}
/* --------END---------- */

/* SKILLS */
#skills-section.skills-section {
	height: 500px;
	background-blend-mode: multiply;
	background: rgb(0, 68, 255) url(../images/background/background\ 2.png);
	background-attachment: fixed;
	background-size: cover;
	width: auto;
	overflow: hidden;
}

/* Two column layout */
div.row.columns {
	width: 100%;
	height: auto;
}

div.col-md-6.column {
	width: 100%;
}

div.col-md-6.column.col1 {
	margin-top: 10em;
}

div.col-md-6.column.col2 {
	margin-top: 12em;
}

@media (min-width: 48em) {
	div.col-md-6.column {
		width: 50%;
		float: left;
	}
	div.row.columns {
		content: "";
		display: table;
		clear: both;
	}
}
/* Two column layout */

#skills-section.skills-section .heading h2 {
	font-family: "Nunito Sans", sans-serif;
	text-transform: capitalize;
	font-weight: 700;
	font-size: 3rem;
	color: aqua;
	text-align: left;
}

#skills-section.skills-section p {
	padding: 0;
	margin: 0;
	color: #e9e9e9;
	font-weight: bold;
	font-size: medium;
	text-align: left;
}

@media only screen and (max-width: 1450px) {
	#skills-section.skills-section .heading h2.sk {
		margin: auto;
		margin-bottom: 0;
		padding: 0;
	}
}

/* Rotating cube */
@keyframes turn {
	from {
		transform: rotate3d(0, 0, 0, 0);
	}
	to {
		transform: rotate3d(1, 1, 0, 360deg);
	}
}

.cube {
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	transform-style: preserve-3d;
	animation: turn 10s linear infinite;
}

.face {
	position: absolute;
	display: flex;
	background: aqua;
	border: 2px solid #aeaeae;
	opacity: 0.9;
	align-items: center;
	width: 100px;
	height: 100px;
	justify-content: center;
	transition: transform 500ms;
}

.front {
	transform: translateZ(125px);
}

.back {
	transform: translateZ(-125px) rotateY(180deg);
}

.left {
	transform: translateX(-125px) rotateY(-90deg);
}

.right {
	transform: translateX(125px) rotateY(90deg);
}

.top {
	transform: translateY(-125px) rotateX(90deg);
}

.bottom {
	transform: translateY(125px) rotateX(-90deg);
}

@media (prefers-reduced-motion: reduce) {
	.cube {
		animation: none;
		transform: rotate3d(1, 1, 0, 45deg);
	}
}
/* END OF CUBE */

/* WORKS SECTION */
#work-section.work-section {
	background-color: #444;
}

.scroll {
	transform: translateX(400%);
	transition: 0.7s ease;
}

.scroll:nth-of-type(even) {
	transform: translateX(-400%);
}

#work-section.work-section .show {
	transform: translateX(0);
}

/* Caroucel */
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
	margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	bottom: 3rem;
	z-index: 10;
}

/* Declare heights because of positioning of img element */
/* .carousel-item {
	height: 32rem;
} */
.carousel-inner img
{
  /* padding-top: 3rem;	 */
    width: 100%;
    height: 100vh;
		background-size: cover;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
	margin-bottom: 1.5rem;
	text-align: center;
}
.marketing h2 {
	font-weight: 400;
}
.marketing .col-lg-4 p {
	margin-right: 0.75rem;
	margin-left: 0.75rem;
}

/* Featurettes
------------------------- */

.featurette-divider {
	margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -0.05rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
	/* Bump up size of carousel content */
	.carousel-caption p {
		margin-bottom: 1.25rem;
		font-size: 1.25rem;
		line-height: 1.4;
	}

	.featurette-heading {
		font-size: 50px;
	}
}

@media (min-width: 62em) {
	.featurette-heading {
		margin-top: 7rem;
	}
}
/* Caroucel */


/* CONTACT SECTION */
#contact-section {
	padding: 0;
}

#contact-section .container {
	margin-top: 0%;
	padding-top: 100px;
}

#contact-section .heading {
	display: block;
	margin: 5px 0;
	position: relative;
}

#contact-section .heading h4 {
	font-size: 2rem;
	text-transform: capitalize;
	font-weight: 400;
	color: rgb(0, 202, 202);
	position: relative;
	display: inline-block;
	padding-bottom: 0.3rem;
}

#contact-section .heading h4::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 45%;
	height: 0.3125rem;
	background: #8d8d8d;
}

#contact-section form {
	display: block;
	margin: 1rem 0;
	position: relative;
}

#contact-section form .form-group {
	display: inline-block;
	margin: 1rem 0;
	width: 100%;
}

#contact-section form .form-group .form-control {
	display: inline-block;
	width: 100%;
	background: rgb(233, 233, 224);
	border-radius: 0;
	min-height: 2rem;
	height: 2rem;
	border: 1px solid rgba(0, 255, 255, 0.568);
	color: #000;
	font-size: 0.9375rem;
	appearance: none;
}

#contact-section form .form-group .form-control:active,
#contact-section form .form-group .form-control:focus {
	background: #b6b6b6;
}

#contact-section form .form-group textarea {
	display: inline-block;
	width: 100%;
	height: 150px;
	background: rgb(233, 233, 224);
	border-radius: 0;
	border: 1px solid rgba(0, 255, 255, 0.568);
	color: rgb(14, 14, 14);
	font-size: 0.9375rem;
	transform-origin: all 5s;
	appearance: none;
	padding: 0.375rem 0.75rem;
}

#contact-section form .form-group input.form-control:focus,
#contact-section form .form-group input.form-control:active,
#contact-section form .form-group textarea:focus,
#contact-section form .form-group textarea:active {
	outline: 2px;
	box-shadow: none;
	background: #b6b6b6;
}

/* Contact Section Button */
input.btn2 {
	position: absolute;
	color: rgb(0, 202, 202);
	background-color: rgb(233, 233, 224);
	letter-spacing: 1px;
	padding: 10px 15px;
	border: 1px solid rgba(0, 255, 255, 0.568);
	top: 20rem;
	left: auto;
	overflow: hidden;
	z-index: 1;
}

input.btn2:hover {
	color: #ffffff;
	background-color: rgb(0, 202, 202);
	border: 1px solid #fff;
	transition: all 0.5s ease-in-out;
}

.gfq-wrap {
	z-index: 9999999;
	position: fixed;
	bottom: 40px;
	right: 40px;
}

.gfq-badge {
	background: rgb(0, 202, 202);
	width: 60px;
	height: 60px;
	border-radius: 50%;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
	transition: all 0.1s ease-in-out;
	transform: scale(1);
	float: right;
}

.gfq-badge img {
	position: relative;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 50%;
	border: none !important;
	width: 80% !important;
}
.gfq-badge:hover {
	transform: scale(1.1);
	cursor: pointer;
}
.gfq-panel {
	width: 400px; /*Panel width*/
	height: 500px; /*Panel height*/
	max-width: 400px; /*Mac Panel width*/
	max-height: 800px; /*Max Panel height*/
	background: #f9fafa;
	box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1);
	position: absolute;
	bottom: 40px;
	right: 0px;
	transition: all 0.3s ease-in-out;
	opacity: 0;
	border-radius: 4px;
	overflow: hidden;
	padding: 30px;
	border: 1px solid #d9e0e3;
}
.panel-active {
	bottom: 80px;
	opacity: 100;
}
.gfield.no-label > .gfield_label {
	display: none;
}
.gfq-panel input[type="submit"] {
	width: 93%;
}
/* --------END OF CONTACT----------- */



/* Footer */
.footer span.text-muted{
	color: #30bea7;
}

/* End of Footer */



/* Cursor */
@media only screen and (min-width: 1450px) {
	.cursor {
		width: 10px;
		height: 10px;
		border: 1px solid white;
		border-radius: 50%;
		position: absolute;
		transition-duration: 200ms;
		transition-timing-function: ease-out;
		animation: cursorAnim 0.7s infinite alternate;
		pointer-events: none;
		z-index: 3;
	}

	@keyframes cursorAnim {
		from {
			transform: scale(1);
		}
		to {
			transform: scale(0.7);
		}
	}

	@keyframes cursorAnim2 {
		from {
			transform: scale(1);
		}
		to {
			transform: scale(0.4);
		}
	}

	@keyframes cursorAnim3 {
		0% {
			transform: scale(1);
		}
		50% {
			transform: scale(3);
		}
		100% {
			transform: scale(1);
			opacity: 0;
		}
	}

	.expand {
		animation: cursorAnim3 0.5s forwards;
		border: 1px solid aqua;
	}

	p {
		color: white;
		font-family: "arial";
		text-align: center;
		margin-top: 50px;
		font-size: 1.4em;
	}

	a {
		color: teal;
	}
}
/* ----------CURSOR END---------- */

/* BOUNCE TEXT */
.a {
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-iteration-count: 1;
	display: inline-block;
}

.a:hover {
	color: aqua;
	animation-name: rubberBand;
}

@keyframes rubberBand {
	from {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}
/* -------BOUNCE TEXT END--------- */


/* Media Queries*/
@media only screen and (max-width: 720px) {
	section#about-section.about-section {
		height: 70vh;
		width: auto;
	}

	.container {
		margin: auto;
	}

	h1 {
		font-size: 3rem;
		color: #ffffff;
		font-weight: 600;
		line-height: 2.5rem;
	}

	.ha {
		margin-top: 2.3em;
	}

	a.btn1 {
		top: 45%;
		left: auto;
	}

	#skills-section.skills-section {
		height: 90vh;
	}

	#skills-section.skills-section .heading h2 {
		font-size: 2rem;
		font-weight: 400;
	}

	div.col-md-6.column.col1 {
		margin-top: 5em;
	}

	div.col-md-6.column.col2 {
		margin-top: 9em;
	}

	.col-6.imageBackground {
		display: none;
	}

	input.btn2 {
		top: 100%;
		left: auto;
	}

	#work-section {
		height: 80vh;
	}

	#contact-section {
		height: 80vh;
	}
}

@media only screen and (max-width: 989px) and (min-width: 721px) {
	section#about-section.about-section {
		height: 70vh;
		width: auto;
	}

	.container {
		margin: auto;
	}

	h1 {
		font-size: 3.8rem;
		color: #ffffff;
		font-weight: 700;
		line-height: 4rem;
	}

	.ha {
		margin-top: 2.3em;
	}

	a.btn1 {
		top: 55%;
		left: auto;
	}

	#work-section {
		height: 80vh;
	}

	#contact-section {
		height: 80vh;
	}
}

@media only screen and (max-width: 767px) and (min-width: 721px) {
	#skills-section.skills-section {
		height: 90vh;
	}

	#skills-section.skills-section .heading h2 {
		font-size: 2.8rem;
		font-weight: 400;
	}

	div.col-md-6.column.col1 {
		margin-top: 3em;
	}

	div.col-md-6.column.col2 {
		margin-top: 9em;
	}
}

@media only screen and (max-width: 1400px) and (min-width: 990px) {
	/* section#about-section.about-section {
		height: 100vh;
		width: auto;
	}

	.container {
		margin: auto;
	}

	h1 {
		font-size: 3rem;
		color: #ffffff;
		font-weight: 600;
		line-height: 2.5rem;
	}

	.ha {
		margin-top: 2.3em;
	}

	a.btn1 {
		top: 45%;
		left: auto;
	}

	#skills-section.skills-section {
		height: 90vh;
	}

	#skills-section.skills-section .heading h2 {
		font-size: 2rem;
		font-weight: 400;
	}

	div.col-md-6.column.col1 {
		margin-top: 5em;
	}

	div.col-md-6.column.col2 {
		margin-top: 9em;
	}

	.col-6.imageBackground {
		display: none;
	}

	input.btn2 {
		top: 100%;
		left: auto;
	}

	#work-section {
		height: 80vh;
	}

	#contact-section {
		height: 80vh;
	} */
}
